/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-nov-2014, 17:21:54
    Author     : emiliogq
*/

header{
    width:100%;
}
.contenedor{
    /*border:1px solid red;*/
    background-color:buttontext;
    padding:2.5px;
}
#contenedor-social{
    width:500px;
    display:inline-block;
}
#contenedor-logo{
    width:250px;
    display:inline-block;
    color:white;
}

#logo{
    width:100%;
}

