/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-nov-2014, 17:34:21
    Author     : emiliogq
*/
body{
    width:800px;
    margin:0 auto;
    background-color:black;
}

.lista-horizontal>li{
    display:inline;
}